
   <div class="cards-heading">
      <img class="dashboard-img" src="../../assets/images/metrics (1).png">
      <h1>Dashboard</h1>
   </div>
        
    <div class="cards">
      
        <mat-card class="total-books">
            <mat-card-header>
              <mat-card-title>
                  <img class="books" src="../../assets/images/books.png">
              </mat-card-title>
              <mat-card-subtitle>Total Books</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              6345
            </mat-card-content>
            <mat-card-footer>
              <p>Increased by 60% </p>
            </mat-card-footer>
          </mat-card>

          <mat-card class="checkout-book">
              <mat-card-header>
                  <mat-card-title>
                      <img class="books" src="../../assets/images/checkout.png">
                  </mat-card-title>
                  <mat-card-subtitle>Checkout Books List</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  2345
                </mat-card-content>
                <mat-card-footer>
                  <p>Increased by 30% </p>
                </mat-card-footer>
          </mat-card>

          <mat-card class="users">
             <mat-card-header>
              <mat-card-title>
                  <img class="books" src="../../assets/images/team.png">
              </mat-card-title>
              <mat-card-subtitle>Users</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              25000
            </mat-card-content>
            <mat-card-footer>
              <p>Increased by 80% </p>
            </mat-card-footer>
          </mat-card>
    </div>


