<!-- <button (click)="logIn()">LogIn</button> -->
<div class="split left">

    <!-- <img mat-card-image src="./../../assets/images/Group.png" alt="Photo of a Shiba Inu"> -->

    <p class="About-WiseReads">About WiseReads</p>
    <div class="content-box">
        <p class="content">Wisereads is proud to introduce one of the most awaited and affordable book rental platform for
                individuals, kids, students, and corporates across the country. Wisereads Book Rental Library provides
                hassle-free availability of books at a very affordable price.
        </p>

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="bottom-contact">
                    <h5>Support</h5>
                    <div mat-card-avatar class="example-header-image"></div>
                </mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>

            <mat-card-content>
                <div class="cnt-spt">
                    Call: 9354533923 <br> Email: support@wisereads.in
                </div>
            </mat-card-content>

            <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
        </mat-card>
    </div>


</div>

<div class="split right">
    <div class="centered">

        <div class="wiseReads-box">
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <div class="login-heading">
                
                <img src="../../../assets/images/wiseReads.svg" style="width: 230px;border-radius: 0PX;">
                <p class="Login">Login</p>
            </div>
            <div class="form1">
                <form #LoginForm="ngForm">
                    <!-- <div class="field1"> -->

                    <input class="login-fields" placeholder="User Name" name="email" [(ngModel)]="user.email" [(value)]="user.email" #email="ngModel" required autofocus>


                    <input class="login-fields" placeholder="Password" type="password" name="password" [(value)]="user.password" [(ngModel)]="user.password" #password="ngModel" required>

                    <!-- </div> -->
                </form>
                <div class="login-btn">
                    <button [disabled]="!LoginForm.form.valid" mat-raised-button (click)="signIn()" style="background-color: #2fc7f5 ;color: #ffffff">LOGIN <i class="fa fa-sign-in"></i></button>
                </div>
            </div>

        </div>
        <!-- <div class="login-box">
    <p class="Login">Login</p>
</div>


    <form class="" #LoginForm="ngForm">
      <div class="field1">
        <mat-form-field >
            <input matInput placeholder="User Name" name="email" [(ngModel)]="user.email"
                #email="ngModel" required autofocus>
        </mat-form-field>
        <mat-form-field >
            <input matInput placeholder="Password" type="password" name="password"
                [(ngModel)]="user.password" #password="ngModel" required>
        </mat-form-field>
      </div>
    </form> -->


        <!-- <button class="login-btn" [disabled]="!LoginForm.form.valid" mat-raised-button
                                (click)="logIn()" color="primary">Sign In <i class="fal fa-sign-in"></i></button> -->

    </div>
</div>