.input-container {
    width: 500px;
    background-color: #EDEDED;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
  }
  
  input[type='file'] {
    height: 57px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .file-info {
    font-size: 0.9em;
  }
  
  