.item {
  padding: 10px;
  box-sizing: border-box;
}

.tile {
  min-height: 200px;
  background-color: #ccc;
  color:#fff;
  font-size:28px;
  font-weight: 800;
  width:400px;
  background-repeat: no-repeat;
  background-size: contain !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.leftRs {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
        border-radius: 999px;
        left: 0;
    }
 
    .rightRs {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
        border-radius: 999px;
        right: 0;
    }


.top-header{
  display: flex;
  background-color: #f6f6f6;
  width: 100%;
  height:50px;
  .top-logo{
    display:flex;
  }
  .fa-sign-in{
    color:#0b4f82;
  }
  a{
    margin-left:auto;
    padding:10px;
    font-size: 18px;
    color: #0b4f82;
  }
  h3{
    padding:10px;
    color:#f30;
  }
}

.example-card {
 border: 1px solid #c9c9c9;
 margin:20px;
}

.top-footer{
  background-color:#000;
  color:#ffff;
  text-align: center;
  height:40px;
  padding:10px;
}

.container-fluid {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;

}


// .overlay { 
//   color:#fff;
//   position:absolute;
//   z-index:9;
//   top:0%;
//   left:0;
//   width:100%;
//   text-align:center;
// }

// .carousel-caption{
//   bottom:340px;
//   color:#000;
//   text-align: center;

// }
// .carousel-button{
//   background-color: transparent;
//   border-color: #fff;
//   border-radius: 50px;
//   width: 150px;
//   height: 40px;
//   font-size: 18px;
//   box-shadow: turquoise;
//   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
// }

// .carousel-image{
// display: block; 
// width: 100%;
// height:800px;
// /* opacity: 0.8; */
// filter: brightness(70%);
// }

.main-service{
padding: 7.5em 3em;
color: #fff;
}


.blog-img-1{
background: url(../../../assets/images/slider4.jpg) no-repeat center;
min-height: 544px;
background-size: cover;
}


.blog-img-2{
background: url(../../../assets/images/slider2.jpeg) no-repeat center;
min-height: 544px;
background-size: cover;
}

.blog-right-grids {
padding: 7em 5em;
}

h3{
font-family: 'Josefin Sans', sans-serif;
color: #000;
text-transform: capitalize;
letter-spacing: 1px;
}

.blog-right-grids p{
 font-size: 14px;
  color: #888888;
  line-height: 25px;
}

.blog-img-1 h1{
background: #ffffff70;
margin: 5em 3em;
padding: 50px;
text-align: center;
}

.blog-img-2 h1{
background: #ffffff70;
margin: 5em 3em;
padding: 50px;
text-align: center;
}

.blog_more-buttn  {
font-size: 14px;
color: #ffffff;
text-decoration: none;
font-weight: 700;
text-transform: capitalize;
display: inline-block;
letter-spacing: 1px;
background-color: #f8a640;
outline: none;
border-radius: 4px;
/* opacity: 0.8; */
padding: 8px 12px;
border: none;
}

@media (min-width: 768px){
.text-md-right {
  text-align: right!important;
}
}
@media(min-width:768px){
.about{
  padding: 0px 260px;
} 
}
@media(max-width:768px){
.img2{
  display: none;
}
}
.img-fluid {
max-width: 100%;
height: auto;
}

.img2 img {
position: absolute;
top: 295px;
width: 77%;
left: 36%;
}

img{
box-shadow: -2px -2px 5px #7b7b7b;
}

p {
font-size: 14px;
color: #888;
letter-spacing: 1px;
line-height: 27px;
}


@media(min-width:768px){
  footer{
      background: #06121f;
      padding: 100px 250px;
  }
}
footer{
  background: #06121f;
 
}


.below-footer{
  background-color: #000;
  min-height: 60px;
}

.below-footer h6{
  text-align: center;
}


@media(min-width:768px){
  footer{
      background: #06121f;
      padding: 100px 250px;
  }
}
footer{
  background: #06121f;
 
}
*{
  color:#fff;
}
button.btn1 {
  width: 20%;
  color: #fff;
  border: 1px solid #000;
  padding: 11.5px 0;
  font-size: 16px;
  background: #c50e1f;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

input[type="email"] {
  outline: none;
  padding: 23px 15px;
  color: #000;
  font-size: 14px;
  width: 80%;
  border-radius: 0px;
  background: #fff;
  border: 1px solid #000;
}

ul{
  padding:0;
  margin: 0;
  list-style: none;
}



.office-address ul li p, .office-address p{
  font-size: 13px;
  color: #bbb9b9;
  line-height: 21px;
}

.office-address h3{
  font-size: 25px;
  color: #3b9974;
  text-transform: capitalize;
}
.office-address h6{
  font-size: 14px;
  color: #c50e1f;
}

.below-footer{
  background-color: #000;
  min-height: 60px;
}

.below-footer h6{
  text-align: center;
}