<div
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="50%"> 
    <img class="dashboard-img" src="../../assets/images/metrics (1).png">
    <h1>Checkout Books</h1>
  </div>
  
</div>


<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile">
  
      <ng-container matColumnDef="invId">
        <mat-header-cell *matHeaderCellDef> Inv ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          {{element.inventoryId}} 
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef> Order ID</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          {{element.orderId}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="bookName">
        <mat-header-cell *matHeaderCellDef> Book Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          {{element.bookId}} 
        </mat-cell>
      </ng-container>
  
  
      <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            {{element.contactNumber}} 
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="checkOutDate">
            <mat-header-cell *matHeaderCellDef> CheckOut Date</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                {{element.checkedOutDate}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dueDate">
              <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                {{element.returnedDate}} 
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dueAmt">
                <mat-header-cell *matHeaderCellDef> Due Amt </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  {{element.totalAmount}} 
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="returnDate">
                  <mat-header-cell *matHeaderCellDef> Return Date </mat-header-cell>
                  <mat-cell *matCellDef="let element"> 
                    {{element.expReturnDate}} 
                  </mat-cell>
                </ng-container>

          <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                
                  <mat-select placeholder="RMID" name="checkId" id="checkId"
                  [(ngModel)]="checkOut.checkId" #checkId="ngModel">
                  <mat-option *ngFor="let id of RMID" [value]="id.checkId"
                      (onSelectionChange)="repMngName($event,id)">{{id.checkId}} -
                  </mat-option>
              </mat-select>

              </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="totalAmtPaid">
                <mat-header-cell *matHeaderCellDef> Total Amt paid </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  {{element.contactNumber}} 
                </mat-cell>
              </ng-container> -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
