
<section>
  <div class="header-section">
      <div class="wisereads-logo">
          <img src="../../../assets/images/wiseReads.svg" style="width: 300px;height: 44px;    box-shadow: none;">
      </div>
      <div class="link-section">
        <a routerLink="/register"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Register</a>
        <a routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Login</a>
      </div>
  </div>

  <div class="slider-section">
      <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselItems">
          <div *nguCarouselDef="let item;" class="item">
            <div class="tile" [style.background]="'url('+ item.url +')'" style="min-height: 600px; width:100%;">
              <span class="title">{{item.title}}</span>
            </div>
          </div>
          <button NguCarouselNext class="rightRs">></button>
          <button NguCarouselPrev class="leftRs"><</button>
      </ngu-carousel>
  </div>

      <div class="" fxLayout="row" fxLayoutGap="32px">
          <div class="about-img" fxFlex="50%">
            <h1 style="color:#000;">About us</h1>
          </div>
          <div class="blog-right-grids" fxFlex="50%">
              <p>Wisereads is proud to introduce one of the most awaited and affordable book rental platform for
                  individuals, kids, students, and corporates across the country. Wisereads Book Rental Library provides
                  hassle-free availability of books at a very affordable price.</p>
          </div>
      </div>

      <br>
      <br>
      <div fxLayout="row" fxLayoutGap="32px">
          <div class="blog-right-grids" fxFlex="50%">
              <p>  Large selection of Children, Corporate and great People Recommendations. Convenience of home
                  delivery with FREE shipping. Numerous book rental plans to fit your needs. No due dates when renting
                  books. Superior customer service.No more manual trips to the physical library . No more costly payments
                  to the local bookstore.</p>
             
          </div>
          <div class="about-img2" fxFlex="50%">
              <h1 style="color:#000;">Best Book Rental Library</h1>
          </div>
      </div>
          


  <div class="below-footer ">
      <h6>© 2019 Organic Store. All Rights Reserved | Design by Omniwyse</h6>
</div>
</section>