.header-section {
  display: flex;
  background-color: #f6f6f6;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 0 3px #000;
  position: fixed;
  height: 69px;
}
.wisereads-logo {
  display: flex;
}
.fa-sign-in {
  color: #0b4f82;
}
.link-section {
  margin-left: auto;
  margin-top: 8px;
  padding: 3vh;
}
a {
  padding: 10px;
  font-size: 18px;
  color: #0b4f82;
}

.wisereads-logo .img {
  padding: 10px 0 10px 50px;
  width: 300px;
  height: inherit !important;
}

.alignSearch {
  padding-top: 33px;
  margin-left: 36pc;
}
.search-bar {
  display: flex;
}

.search-input {
  border: none;
  width: 400px;
  margin-left: 370px;
  margin-top: 10px;
  font-size: 16px;
  padding: 0px 5px;
  font-weight: 300;
  color: #9f9f9f;
  border-bottom: 1px solid #9f9f9f;
  border-radius: 20px;
  height: 40px;
}

.fa {
  font-size: 0.8em;
  font-weight: 300;
  color: #4b4b4b;
}

.fa-search {
  font-size: 25px;
  color: #9f9f9f;
  padding-left: 6px;
  padding-top: 4px;
}

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
  height: 400px;
}

.carousel .thumbs {
  display: none;
}

.carousel .carousel-status {
  display: none;
}
