.register-btn {
  width: 7vw;
  height: 40px;
  margin-left: auto;
  background-image: linear-gradient(to bottom, #6fe3ff, #2fc7f5);
}

.already-user-login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reg-address {
  height: 100px;
}

textarea.form-control {
  height: 100px;
}

.mt-4,
.my-4 {
  margin-top: 0.5rem !important;
}
