<section class='container-fluid'>

  <div class="cards-heading">
  <img class="dashboard-img" src="../../assets/images/metrics (1).png">
  <h1>Add Book</h1>
  </div>

  <div class="form">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
          <div class="row form-group">
              <div class="col-md-6">
                  <input type="text" placeholder="Book Name" formControlName="bookName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bookName.errors }" />
                  <div *ngIf="submitted && f.bookName.errors" class="invalid-feedback">
                      <div *ngIf="f.bookName.errors.required">Book Name is required</div>
                  </div>
              </div>
              <div class="col-md-6">
                  <input type="text" placeholder="Publisher" formControlName="publisher" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.publisher.errors }" />
                  <div *ngIf="submitted && f.publisher.errors" class="invalid-feedback">
                      <div *ngIf="f.publisher.errors.required">Publisher is required</div>
                  </div>
              </div>
          </div>

          <div class="row form-group">
              <div class="col-md-6">
              <input type="text" placeholder="ISBN Code" formControlName="isbnCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.isbnCode.errors }" />
              <div *ngIf="submitted && f.isbnCode.errors" class="invalid-feedback">
                  <div *ngIf="f.isbnCode.errors.required">ISBN Code is required</div>
              </div>
              </div>
              <div class="col-md-6">
                  <div class="date">
                          <input  [matDatepicker]="picker"  placeholder="Publication Date" formControlName="publicationDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.publicationDate.errors }" />
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                  </div>
              
              <div *ngIf="submitted && f.publicationDate.errors" class="invalid-feedback">
                  <div *ngIf="f.publicationDate.errors.required">Publication Date is required</div>
              </div>
              </div>
          </div>

          <div class="row form-group">
              <div class="col-md-6">
              <input type="text" placeholder="Author Name" formControlName="authorName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.authorName.errors }" />
              <div *ngIf="submitted && f.authorName.errors" class="invalid-feedback">
                  <div *ngIf="f.authorName .errors.required">Author Name is required</div>
              </div>
              </div>
              <div class="col-md-6">
              <input type="text" placeholder="Cover Page" formControlName="coverPage" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.coverPage.errors }" />
              <div *ngIf="submitted && f.coverPage.errors" class="invalid-feedback">
                  <div *ngIf="f.coverPage.errors.required">Cover Page is required</div>
              </div>
              </div>
          </div>

          <div class="row form-group">
              <div class="col-md-6">
              <textarea type="text" placeholder="Description" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description .errors.required">Description is required</div>
              </div>
              </div>
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-12">
                              <input type="text" placeholder="No. of Pages" formControlName="Pages" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Pages.errors }" />
                              <div *ngIf="submitted && f.Pages.errors" class="invalid-feedback">
                                  <div *ngIf="f.Pages.errors.required">No. of Pages is required</div>
                              </div>
                      </div>
                      <div class="col-md-12 mt-3">
                              <input type="text" placeholder="Sample Page Url" formControlName="samplePageUrl" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.samplePageUrl.errors }" />
                              <div *ngIf="submitted && f.samplePageUrl.errors" class="invalid-feedback">
                                  <div *ngIf="f.samplePageUrl.errors.required">Sample Page Url is required</div>
                              </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row form-group">
                  <div class="col-md-6">
                  <input type="text" placeholder="Select Genre" formControlName="genre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.genre.errors }" />
                  <div *ngIf="submitted && f.genre.errors" class="invalid-feedback">
                      <div *ngIf="f.genre .errors.required">Select Genre is required</div>
                  </div>
                  </div>
                  <div class="col-md-6">
                  <input type="text" placeholder="Image Url1" formControlName="imageUrl1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.imageUrl1.errors }" />
                  <div *ngIf="submitted && f.imageUrl1.errors" class="invalid-feedback">
                      <div *ngIf="f.imageUrl1.errors.required">Image Url1 is required</div>
                  </div>
                  </div>
          </div>

          <div class="row form-group">
                  <div class="col-md-6">
                  <input type="text" placeholder="Edition" formControlName="edition" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.edition.errors }" />
                  <div *ngIf="submitted && f.edition.errors" class="invalid-feedback">
                      <div *ngIf="f.edition .errors.required">Edition is required</div>
                  </div>
                  </div>
                  <div class="col-md-6">
                  <input type="text" placeholder="Image Url2" formControlName="imageUrl2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.imageUrl2.errors }" />
                  <div *ngIf="submitted && f.imageUrl2.errors" class="invalid-feedback">
                      <div *ngIf="f.imageUrl2.errors.required">Image Url2 is required</div>
                  </div>
                  </div>
          </div>


          <div class="row form-group">
                  <div class="col-md-6">
                  <input type="text" placeholder="Book Owner" formControlName="bookOwner" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bookOwner.errors }" />
                  <div *ngIf="submitted && f.bookOwner.errors" class="invalid-feedback">
                      <div *ngIf="f.bookOwner.errors.required">Book Owner is required</div>
                  </div>
                  </div>
                  <div class="col-md-6">
                  <input type="text" placeholder="Rental Value" formControlName="rentalValue" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rentalValue.errors }" />
                  <div *ngIf="submitted && f.rentalValue.errors" class="invalid-feedback">
                      <div *ngIf="f.rentalValue.errors.required">Rental Value is required</div>
                  </div>
                  </div>
          </div>

          <div class="row form-group">
                  <div class="col-md-6">
                  <input type="text" placeholder="Price" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                  <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                      <div *ngIf="f.price.errors.required">Price is required</div>
                  </div>
                  </div>
                  <div class="col-md-6">
                  <input type="text" placeholder="No.of Copies" formControlName="noofCopies" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.noofCopies.errors }" />
                  <div *ngIf="submitted && f.noofCopies.errors" class="invalid-feedback">
                      <div *ngIf="f.noofCopies.errors.required">No.of Copies is required</div>
                  </div>
                  </div>
          </div>

          
          <div class="form-group">
              <button class="btn btn-primary">Register</button>
          </div>
      </form>
  </div>
</section>

