<div
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="50%"> 
    <img class="dashboard-img" src="../../assets/images/metrics (1).png">
    <h1>Checkout Books</h1>
  </div>
  <div class="item item-2" fxFlex="50%">
      <button class="mr-2 action-button" mat-button mat-raised-button>Import Books</button>
      <button class="action-button" mat-button mat-raised-button>Add Books</button>
  </div>
</div>


<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="bookid">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Book ID:</span>
          {{element.bookid}} 
        </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="bookname">
        <mat-header-cell *matHeaderCellDef> inv Id</mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Book Name:</span>
          {{element.bookname}} 
        </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Author:</span>
          {{element.author}} 
        </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="gnere">
        <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Genre:</span>
          {{element.gnere}} 
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="publisher">
          <mat-header-cell *matHeaderCellDef> Publisher </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span class="mobile-label">Publisher:</span>
            {{element.publisher}} 
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="owner">
            <mat-header-cell *matHeaderCellDef> Owner</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <span class="mobile-label">Owner:</span>
              {{element.owner}} 
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <span class="mobile-label">Actions:</span>
                <button class="edit-button" mat-button mat-raised-button>Edit</button>
      
              </mat-cell>
            </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  