.book-details{
    background-color: #fff;
    padding:45px;
}

.book-title{
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #3bccf6;
    padding-bottom: 30px;
}