<!-- <div class="home">
    <a routerLink="/login">
      login
    </a>
</div> -->



<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button> -->
        <!-- <a class="navbar-brand" href="#">Portfolio</a> -->
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Contact</a></li> -->
          <h1 style="color: white">www.wisereads.in</h1>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <h4>
            <a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="jumbotron">
    <div class="container text-center">
        <div class="container">
            <div class="sliders">
              <ng-container *ngFor="let img of img_list; let i = index">
                <div class="slider" *ngIf="current == i" @fade>
                  <img class="img" [src]="img">
                </div>
              </ng-container>
            </div>
          </div>
    </div>
  </div>
    
  <!-- <div class="container-fluid bg-3 text-center">    
    <h3>Some of my Work</h3><br>
  </div><br> -->
  
  <div class="container-fluid bg-3 text-center">    
    <div class="row">
      <div class="col-sm-6">
          <h2>Best Book Rental Library</h2>
          <p>
              Wisereads is proud to introduce one of the most awaiting and affordable Book Rental Platform for the
              Individuals, Kids, Students, and Corporates across the country. Wisereads Book Rental Library Provides
              hassle-free availability of books at a very affordable cost.
          </p>
      </div>
      <div class="col-sm-6"> 
          <h2>Best Book Rental Library</h2>
       <p>
          Large selection of Children, Corporate and great People Recommendations. Convenience of home
          delivery with FREE shipping. Numerous book rental plans to fit your needs. No due dates when renting
          books. Superior customer service.No more manual trips to the physical library . No more costly payments
          to the local bookstore.
       </p>
      </div>
      
    </div>
  </div><br><br>
  
  <footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer>
