<section class="container-fluid">
    <div class="top-header">
        <a routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Login</a>
        <h3 >Wisereads</h3>
    </div>
      
    <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselItems">
        <div *nguCarouselDef="let item;" class="item">
          <div class="tile" [style.background]="'url('+ item.url +')'" style="min-height: 600px; width:100%;">
            <span class="title">{{item.title}}</span>
          </div>
        </div>
        <button NguCarouselNext class="rightRs">></button>
        <button NguCarouselPrev class="leftRs"><</button>
    </ngu-carousel>

    <div class="info-cards" fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
        <mat-card class="example-card" fxFlex="50%" >
            <mat-card-header>
             
              <mat-card-title>About Us</mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
              <p>
                  Wisereads is proud to introduce one of the most awaiting and affordable Book Rental Platform for the
                  Individuals, Kids, Students, and Corporates across the country. Wisereads Book Rental Library Provides
                  hassle-free availability of books at a very affordable cost.
              </p>
            </mat-card-content>
        
          </mat-card>


          <mat-card class=" example-card" fxFlex="50%">
              <mat-card-header>
                <mat-card-title>Best Book Rental Library   </mat-card-title>
               
              </mat-card-header>
              <mat-card-content>
                <p>
                    Large selection of Children, Corporate and great People Recommendations. Convenience of home
                    delivery with FREE shipping. Numerous book rental plans to fit your needs. No due dates when renting
                    books. Superior customer service.No more manual trips to the physical library . No more costly payments
                    to the local bookstore.
                </p>
              </mat-card-content>
            </mat-card>
    </div>

    <div class="top-footer">
      <p>@copyright 2019 to omniwyse.com</p>
    </div>
          
</section>

    
